<table class="table table-bordered">
	<thead>
		<tr>
			<th>Names</th>
			<th>Amount</th>
			<th>Date</th>
			<th>Credit card</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	{{#each donations}}
		<tr>
			<td>{{name}}</td>
			<td>${{amount}}</td>
			<td>{{date}}</td>
			<td>*****-{{creditCardNum}}</td>
			<td>
				<div class"btn-group btn-group-sm">
					<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span> View</button>
					<button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-usd"></span> Refund</button>
				</div>
			</td>
		</tr>
	{{/each}}
	</tbody>
</table>