<h2>Donation Form</h2>
<p>Please enter your details</p>
<div class="col-md-6">
	<form>	
		<div class="form-group">
			<label for="amount">Amount</label>
			<input type="text" class="form-control" id="amount" name="amount" placeholder="Amount" value="{{amount}}">
		</div>
		<p>Payment Method: Credit card</p>
		<div class="form-group">
			<label for="creditCardNum">Card Number</label>
			<input type="text" class="form-control" id="creditCardNum" name="creditCardNum" placeholder="Amount" value="{{creditCardNum}}">
		</div>
		<div class="form-group">
			<label for="cardType">Type:</label>
			<select class="form-control" id="cardType" name="cardType" value="{{cardType}}">
			  <option>Visa</option>
			  <option>Mastercard</option>
			  <option>Dinar card</option>
			</select>
		</div>
		<div class="row">
			<p>Expiration date:</p>
			<div class="col-md-4 form-group">
				<label for="month">Month:</label>
				<select class="form-control" id="month" name="month">
				  <option>January</option>
				  <option>February</option>
				  <option>March</option>
				</select>
			</div>
			<div class="col-md-4 form-group">
				<label for="year">Year:</label>
				<select class="form-control" id="year" name="year">
				  <option>2015</option>
				  <option>2014</option>
				  <option>2013</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="cvv">CVV</label>
			<input type="text" class="form-control" id="cvv" name="cvv" placeholder="Security code">
		</div>
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
		</div>
		<div class="form-group">
			<label for="address">Address</label>
			<input type="text" class="form-control" id="address" name="address" placeholder="Enter your Address">
		</div>
		<div class="form-group">
			<label for="comments">Comments</label>
			<textarea rows="5" class="form-control" id="comments" name="comments" placeholder="Your comments"></textarea>
		</div>
		<button id="donation-form-submit" class="btn btn-primary" type="submit">Submit</button>
	</form>
</div>